<section>
  <div id="screen">
    <span id="letter-combo" ng-repeat="combo in letterCombos">{{ combo }}</span>
  </div>
  <table>
    <tr ng-click="pressKey( $event )">
      <td>1</td>
      <td>2 abc</td>
      <td>3 def</td>
    </tr>
    <tr ng-click="pressKey( $event )">
      <td>4 ghi</td>
      <td>5 jkl</td>
      <td>6 mno</td>
    </tr>
    <tr ng-click="pressKey( $event )">
      <td>7 pqrs</td>
      <td>8 tuv</td>
      <td>9 wxyz</td>
    </tr>
    <tr>
      <td>*</td>
      <td>0</td>
      <td>#</td>
    </tr>
  </table>
</section>